{% extends 'base.html' %}

{% block content %}

  <div class="row justify-content-md-center">
    <div class="col-md-5">
      <h2 class="join-message">Edit Your Profile.</h2>
      <form method="POST" enctype="multipart/form-data" id="user_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' and field.name != 'password' %}
          {% if field.errors %}
            {% for error in field.errors %}
              <span class="text-danger">{{ error }}</span>
            {% endfor %}
          {% endif %}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}

        <p>To confirm changes, enter your password:</p>
        {% if form.password.errors %}
          {% for error in form.password.errors %}
            <span class="text-danger">
              {{ error }}
            </span>
          {% endfor %}
        {% endif %}
        {{ form.password(placeholder="Enter your password to confirm", class="form-control") }}

        <div class="edit-btn-area">
          <button class="btn fbtn-success">Edit User</button>
          <a href="{{url_for('change_password')}}" class="btn btn-primary">Change Password</a>
          <a href="{{url_for('users_show', user_id=g.user.id)}}" class="btn btn-outline-secondary">Cancel</a>
        </div>
      </form>
    </div>
  </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=GOOGLE_API_KEY&libraries=places"></script>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}
